.App {
  margin: 0;
  padding: 0;
}

.App-Body {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.paper-inner {
  padding: 10px;
  overflow: hidden;
}

table.connection-info td {
  font-size: 13px;
}

table.connection-info tr td:last-child:before {
  content: ':';
  margin-left: 5px;
  margin-right: 5px;
}